streamlit==1.24.0
pandas==1.5.3
numpy==1.23.5
matplotlib==3.7.1
tensorflow==2.12.0
scikit-learn==1.2.2
plotly==5.14.0
yfinance==0.2.18
mplfinance==0.12.10b0
requests==2.31.0
beautifulsoup4==4.12.2
textblob==0.17.1 